/* Write your CSS here */

.app-container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.app-logo {
  height: 50px;
  background-size: cover;
}

.name {
  font-family: Bree Serif;
  font-size: 18px;
  color: #1e293b;
}
